robotframework>=7.0
robotframework-seleniumlibrary>=6.0
robotframework-appiumlibrary>=2.0
selenium>=4.0
Appium-Python-Client>=3.0
robotframework-requests>=0.9
robotframework-selenium2library>=3.0
webdriver-manager>=4.0
